{% extends "base.html" %}
{% block content %}
<h2 class="text-center">📊 Alquileres por Localidad y Estado</h2>
<h3 class="text-center">
   desde {{ fecha_desde }} hasta {{ fecha_hasta }}
</h3>
{#<form method="get" class="text-center mb-4">#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Filtrar</button>#}
{#</form>#}
    <form method="get" class="text-center mb-4">
        <input type="hidden" name="localidad" value="{{ localidad_seleccionada }}">

        <label for="{{ form.fecha_desde.id_for_label }}" class="required-label">Desde:</label>
        {{ form.fecha_desde }}

        <label for="{{ form.fecha_hasta.id_for_label }}" class="required-label">Hasta:</label>
        {{ form.fecha_hasta }}

        <button type="submit">Filtrar por Fecha</button>
    </form>

    {% if form.errors %}
        <div class="alert alert-danger text-center">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}


<div style="width: 90%; margin: auto;">
    <canvas id="graficoAlquileres"></canvas>
</div>
{% if etiquetas %}
    <div style="width: 80%; margin: 0 auto;">
        <canvas id="graficoClientes"></canvas>
    </div>
{% else %}
    <p style="text-align: center;">No hay datos para el rango seleccionado.</p>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('graficoAlquileres');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ etiquetas|safe }},
            datasets: [
                {
                    label: 'Pendiente de Retiro',
                    data: {{ pendiente|safe}},
                    backgroundColor: 'rgba(255, 193, 7, 0.7)'
                },
                {
                    label: 'En Curso',
                    data: {{ en_curso|safe }},
                    backgroundColor: 'rgba(33, 150, 243, 0.7)'
                },
                {
                    label: 'Finalizado',
                    data: {{ finalizado|safe }},
                    backgroundColor: 'rgba(76, 175, 80, 0.7)'
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        precision: 0
                    }
                }
            }
        }
    });
</script>

<a href="{% url 'ver_localidades' %}">
    <button class="boton-VolverAlInicio">Volver</button>
</a>
{% endblock %}