{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Mis Alquileres</h2>

    {% if alquileres_forms %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th style="background-color: #FFA726; color: white;">Código</th>
                        <th style="background-color: #FFA726; color: white;">Nro de serie</th>
                        <th style="background-color: #FFA726; color: white;">Maquinaria</th>
                        <th style="background-color: #FFA726; color: white;">Localidad</th>
                        <th style="background-color: #FFA726; color: white;">Estado</th>
                        <th style="background-color: #FFA726; color: white;">Desde</th>
                        <th style="background-color: #FFA726; color: white;">Hasta</th>
                        <th style="background-color: #FFA726; color: white;">Costo total</th>
                        <th style="background-color: #FFA726; color: white;">Política de Cancelación</th>
                        <th style="background-color: #FFA726; color: white;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a, form in alquileres_forms %}
                        <tr>
                            <td>{{ a.codigo_identificador }}</td>
                            <td>{{ a.codigo_maquina.codigo_serie }}</td>
                            <td>{{ a.marca }} - {{ a.modelo }}</td>
                            <td>{{ a.localidad }}</td>
                            <td>{{ a.estado }}</td>
                            <td>{{ a.desde }}</td>
                            <td>{{ a.hasta }}</td>
                            <td>${{ a.precio|floatformat:2 }}</td>
                            <td>{{ a.politica_cancelacion }}</td>
                            <td>
                                {% if a.estado == 'pendienteRetiro' or a.estado == 'enCurso' %}
                                    <a href="{% url 'cancelar_alquiler' alquiler_id=a.id %}" 
                                    class="btn btn-danger btn-sm"
                                    onclick="return confirm('¿Estás seguro de que querés cancelar este alquiler?')">
                                    Cancelar alquiler
                                    </a>
                                {% elif not a.cancelado %}
                                    <!-- Botón para abrir el modal -->
                                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalPuntuar{{ a.id }}">
                                        Puntuar
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="modalPuntuar{{ a.id }}" tabindex="-1" aria-labelledby="modalPuntuarLabel{{ a.id }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form method="POST" action="{% url 'puntuar_alquiler' a.id %}"id="form-puntuar-{{ a.id }}">
                                                    {% csrf_token %}
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modalPuntuarLabel{{ a.id }}">Calificar alquiler {{ a.codigo_identificador }}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div id="error-estrellas-{{ a.id }}" class="alert alert-danger py-1 mb-2" style="display: none;">
                                                             Por favor seleccioná una cantidad de estrellas antes de guardar.
                                                        </div>
                                                        {% if form %}
                                                            
                                                            <div class="mb-3">
                                                                
                                                                <div class="star-rating">
                                                                    <input type="radio" id="star5-{{ a.id }}" name="estrellas" value="5" {% if form.data.estrellas == '5' %}checked{% endif %}/>
                                                                    <label for="star5-{{ a.id }}">&#9733;</label>
                                                                    <input type="radio" id="star4-{{ a.id }}" name="estrellas" value="4" {% if form.data.estrellas == '4' %}checked{% endif %}/>
                                                                    <label for="star4-{{ a.id }}">&#9733;</label>
                                                                    <input type="radio" id="star3-{{ a.id }}" name="estrellas" value="3" {% if form.data.estrellas == '3' %}checked{% endif %}/>
                                                                    <label for="star3-{{ a.id }}">&#9733;</label>
                                                                    <input type="radio" id="star2-{{ a.id }}" name="estrellas" value="2"{% if form.data.estrellas == '2' %}checked{% endif %} />
                                                                    <label for="star2-{{ a.id }}">&#9733;</label>
                                                                    <input type="radio" id="star1-{{ a.id }}" name="estrellas" value="1"{% if form.data.estrellas == '1' %}checked{% endif %}/>
                                                                    <label for="star1-{{ a.id }}">&#9733;</label>
                                                                </div>
                                                            </div>
                                                            {{ form.nota.label_tag }}
                                                            {{ form.nota }}
                                                        {% else %}
                                                            <p>Este alquiler ya fue calificado.</p>
                                                        {% endif %}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" onclick="validarPuntuar('{{ a.id }}')">Guardar</button>

                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <span btn-danger btn-sm; style = "background:#dc3545; color: #fff"> Cancelado </span>    
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info">
            Aún no tenés alquileres registrados.
        </div>
    {% endif %}
</div>
<script>
   
  function validarPuntuar(id) {
    const form = document.getElementById('form-puntuar-' + id);
    const errorDiv = document.getElementById('error-estrellas-' + id);
    const radios = form.querySelectorAll('input[name="estrellas"]');
    let checked = false;

    radios.forEach(radio => {
        if (radio.checked) checked = true;
    });

    if (!checked) {
        errorDiv.style.display = 'block';
    } else {
        errorDiv.style.display = 'none';
        form.submit(); 
    }
    }

</script>





<style>
.star-rating {
  direction: rtl;
  display: inline-flex;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating input[type="radio"]:checked ~ label {
  color: #ffc107;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffc107;
}


</style>
{% endblock %}