{% extends "base.html" %}

{% block content %}
<style>
    .alert-success {
        background-color: rgb(125, 236, 151);
        color: rgb(7, 7, 7);
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #c3e6cb;
        margin-bottom: 15px;
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }

    .boton-autodestruir {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: #f44336;
        color: white;
        padding: 6px 12px;
        font-size: 12px;
        border: none;
        border-radius: 4px;
        z-index: 9999;
        opacity: 0.85;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }

    .boton-autodestruir:hover {
        opacity: 1;
        background-color: #d32f2f;
    }

    .boton-VolverAlInicio {
        background-color: #FFA726;
        border-color: rgb(160, 124, 69);
        padding: 10px 20px;
        margin: 30px auto;
        display: block;
        border-radius: 5px;
        color: white;
        cursor: pointer;
    }
    .boton-inhabilitar {
    background-color: #f8d7da;
    border: 1px solid #dc3545;
    color: #721c24;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.boton-habilitar {
    background-color: rgb(172, 219, 157);
    border: 1px solid rgb(17, 179, 44);
    color: #155724;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
</style>

<h1 style="text-align: center;">Listado de Maquinarias</h1>

{% if maquinarias|length == 0 %}
    <p style="text-align: center; font-weight: bold; color: #a94442; background-color: #f2dede; padding: 10px; border-radius: 5px;">
        No hay maquinarias registradas.
    </p>
{% else %}

    {% if not empleado %}
    <form method="post" action="{% url 'autodestruir_maquinarias' %}" onsubmit="return confirm('¿Estás seguro que querés borrar a todas las Maquinas? Esta acción no se puede deshacer.')">
        {% csrf_token %}
        <button type="submit" class="boton-autodestruir">🔥 Autodestruir</button>
    </form>
    {% endif %}

    <table class="table table-bordered table-hover text-center align-middle">
        <thead>
            <tr>
                <th style="background-color: #FFA726; color: black;">Código</th>
                <th style="background-color: #FFA726; color: black;">Marca</th>
                <th style="background-color: #FFA726; color: black;">Modelo</th>
                <th style="background-color: #FFA726; color: black;">Año</th>
                <th style="background-color: #FFA726; color: black;">Precio por día</th>
                <th style="background-color: #FFA726; color: black;">Localidad</th>
                <th style="background-color: #FFA726; color: black;">Imagen</th>
                <th style="background-color: #FFA726; color: black;">Politica</th>
                <th style="background-color: #FFA726; color: black;">Estado</th>
                <th style="background-color: #FFA726; color: black;">Acción</th>
                
                {% if not empleado %}      
                    <th style="background-color: #FFA726; color: black;">Modificar Maquinaria</th>
                    <th style="background-color: #FFA726; color: black;">Eliminar maquina</th>
                {% endif %}
                <th style="background-color: #FFA726; color: black;"> Habilitar maquina el:</th>
            </tr>
        </thead>
        <tbody>
            {% for maquina in maquinarias %}
            <tr>
                <td>{{ maquina.codigo_serie }}</td>
                <td>{{ maquina.marca }}</td>
                <td>{{ maquina.modelo }}</td>
                <td>{{ maquina.año_compra }}</td>
                <td>${{ maquina.precio_alquiler_diario }}</td>
                <td>{{ maquina.localidad }}</td>
                <td>
                    {% if maquina.imagen %}
                        <img src="{{ maquina.imagen.url }}" width="100">
                    {% else %}
                        Sin imagen
                    {% endif %}
                </td>
                <td>{{ maquina.politica }}</td>
                <td>{{ maquina.estado }}</td>
                <td>
                    <form method="post" action="{% url 'cambiar_estado_maquinaria' maquina.id %}">
                        {% csrf_token %}
                        {% if maquina.estado == 'habilitado' %}
                            <button type="button" class="boton-inhabilitar"
                                data-bs-toggle="modal" data-bs-target="#modalInhabilitar{{ maquina.id }}">
                                Inhabilitar
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="modalInhabilitar{{ maquina.id }}" tabindex="-1" aria-labelledby="modalInhabilitarLabel{{ maquina.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <form method="post" action="{% url 'cambiar_estado_maquinaria' maquina.id %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="modalInhabilitarLabel{{ maquina.id }}">Inhabilitar Maquinaria</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                    </div>
                                    <div class="modal-body">
                                    <p>¿Por cuánto tiempo querés inhabilitar la maquina <strong>{{ maquina.codigo_serie }}</strong>?</p>

                                    <!-- Botón para 1 día -->
                                    <button type="submit" name="opcion" value="1" class="btn btn-warning mb-2 w-100">Inhabilitar por 1 día</button>

                                    <!-- Botón para más días -->
                                    <p style="margin-top: 15px;"> Inhabilitar por más días:</p>
                                    <input required type="number" name="dias_extra" min="2" max="365" class="form-control mb-2" placeholder="Cantidad de días">
                                    <button type="submit" name="opcion" value="varios" class="btn btn-danger w-100">Inhabilitar por varios días</button>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                            </div>
                        {% else %}
                            <button type="submit" class="boton-habilitar"
                                onclick="return confirmarCambioEstado('{{ maquina.codigo_serie }}', 'habilitar')">
                                Habilitar
                            </button>

                        {% endif %}
                    </form>
                </td>
                {% if not empleado %}
                    <td>
                        <button type="button" class="boton-habilitar"
                                data-bs-toggle="modal"
                                data-bs-target="#modalModificar{{ maquina.id }}">
                            Modificar
                        </button>
                    </td>
                {% endif %}    
                {% if not empleado %}
                <td>
                    <form method="post" action="{% url 'eliminar_maquinaria' maquina.id %}">
                        {% csrf_token %}
                        {% if maquina.estado != 'eliminado' %}
                            <button type="submit"
                                    class="boton-inhabilitar"
                                    onclick="return confirm('¿Estás seguro de que querés eliminar la maquinaria {{ maquina.codigo_serie }}?')">
                                Eliminar
                            </button>
                        {% else %}
                            <span style="color: red;">Eliminada</span>
                        {% endif %}
                    </form>
                </td>
                {% endif %}
                <td>
                    {% if maquina.estado == 'inhabilitado' and maquina.fecha_habilitacion %}
                        <p style="color:red; font-weight:bold;">
                            {{ maquina.fecha_habilitacion|date:"d/m/Y H:i" }}
                        </p>
                    {% else %}
                        <span> - </span>    
                    {% endif %}
                </td>
            </tr>

            <!-- Modal modificar maquinaria -->
            <div class="modal fade" id="modalModificar{{ maquina.id }}" tabindex="-1" aria-labelledby="modalLabel{{ maquina.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="POST" action="{% url 'modificar_maquina' maquina.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ maquina.id }}">Modificar Maquinaria</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                <input type="text" name="marca" value="{{ maquina.marca }}" class="form-control mb-2" required>
                                <input type="text" name="modelo" value="{{ maquina.modelo }}" class="form-control mb-2" required>
                                <input type="number" name="año_compra" value="{{ maquina.año_compra }}" class="form-control mb-2" required>
                                <select name="localidad" class="form-control mb-2" required>
                                    {% for loc in localidades %}
                                        <option value="{{ loc.id }}" {% if maquina.localidad.id == loc.id %}selected{% endif %}>{{ loc.nombre }}</option>
                                    {% endfor %}
                                </select>
                                <select name="politica" class="form-control mb-2" required>
                                    {% for politica in politicas %}
                                        <option value="{{ politica.id }}" {% if maquina.politica.id == politica.id %}selected{% endif %}>{{ politica.nombre }}</option>
                                    {% endfor %}
                                </select>
                                <input type="number" step="0.01" name="precio_alquiler_diario" value="{{ maquina.precio_alquiler_diario|stringformat:'0.2f' }}" class="form-control mb-2" required>
                                <label for="imagen">Actualizar imagen (opcional):</label>
                                <input type="file" name="imagen" class="form-control mb-2">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function confirmarCambioEstado(codigo, accion) {
            return confirm(`¿Estás seguro que querés ${accion} a la máquina con código: ${codigo}?`);
        }
    </script>

{% endif %}

<a href="{% url 'inicio' %}">
    <button class="boton-VolverAlInicio">Volver al inicio</button>
</a>
{% endblock %}