{% extends "base.html" %}

{% block content %}
<style>
    .alert-success {
        background-color: rgb(125, 236, 151);
        color: rgb(7, 7, 7);
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #c3e6cb;
        margin-bottom: 15px;
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }
</style>

<h1 style="text-align: center;">Listado de Maquinarias</h1>

{% if maquinarias|length == 0 %}
    <p style="text-align: center; font-weight: bold; color: #a94442; background-color: #f2dede; padding: 10px; border-radius: 5px;">
        No hay maquinarias registradas.
    </p>
{% else %}

    <!--Boton de autodestruccion-->
    <form method="post" action="{% url 'autodestruir_maquinarias' %}" onsubmit="return confirm('¿Estás seguro que querés borrar a todas las Maquinas? Esta acción no se puede deshacer.')">
            {% csrf_token %}
                <button type="submit" class="boton-naranja" style="background-color: red; color: white; padding: 10px 20px; margin: 20px auto; display: block; border-radius: 5px;">
                    🔥 Autodestruir Maquinas
                </button>
    </form>
    <!-- <table style="width: 90%; margin: auto; border-collapse: collapse;"> -->
    <table class="table table-bordered table-hover text-center align-middle">
        <thead>
           <!-- <tr style="background-color: #FFA726; color: white;"> -->
            <tr>
                <th style="background-color: #FFA726; color: black;">Código</th>
                <th style="background-color: #FFA726; color: black;">Marca</th>
                <th style="background-color: #FFA726; color: black;">Modelo</th>
                <th style="background-color: #FFA726; color: black;">Año</th>
                <th style="background-color: #FFA726; color: black;">Estado</th>
                <th style="background-color: #FFA726; color: black;">Precio por día</th>
                <th style="background-color: #FFA726; color: black;">Localidad</th>
                <th style="background-color: #FFA726; color: black;">Imagen</th>
                <th style="background-color: #FFA726; color: black;">Politica</th>
                <th style="background-color: #FFA726; color: black;">Acción</th>
                <th style="background-color: #FFA726; color: black;">Modificar Maquinaria</th>
            </tr>
        </thead>
        <tbody>
            {% for maquina in maquinarias %}
                <tr style="text-align: left; border-bottom: 1px solid #ccc;">
                    <td>{{ maquina.codigo_serie }}</td>
                    <td>{{ maquina.marca }}</td>
                    <td>{{ maquina.modelo }}</td>
                    <td>{{ maquina.año_compra }}</td>
                    <td>{{ maquina.estado }}</td>
                    <td>${{ maquina.precio_alquiler_diario }}</td>
                    <td>{{ maquina.localidad }}</td>
                    <td>
                        {% if maquina.imagen %}
                            <img src="{{ maquina.imagen.url }}" width="100">
                        {% else %}
                            Sin imagen
                        {% endif %}
                    </td>
                    <td>{{ maquina.politica }}</td>
                    <td>
                        <form method="post" action="{% url 'cambiar_estado_maquinaria' maquina.id %}">
                            {% csrf_token %}
                            {% if maquina.estado == 'habilitado' %}
                                <button type="submit" class="boton-inhabilitar" style="background-color: #f8d7da; border-color: rgb(224, 53, 70);"onclick="return confirmarCambioEstado('{{ maquina.codigo_serie }}', 'inhabilitar')">Inhabilitar</button>
                            {% else %}
                                <button type="submit" class="boton-habilitar" style="background-color: rgb(172, 219, 157); border-color: rgb(17, 179, 44);"onclick="return confirmarCambioEstado('{{ maquina.codigo_serie }}', 'inhabilitar')">Habilitar</button>
                            {% endif %}
                        </form>
                    </td>
                    <td>
                        <button type="button"
                                class="boton-habilitar"
                                style="background-color: rgb(172, 219, 157); border-color: rgb(17, 179, 44);"
                                data-bs-toggle="modal"
                                data-bs-target="#modalModificar{{ maquina.id }}">
                            Modificar
                        </button>
                    </td>
                </tr>

                <!-- Modal para modificar maquinaria -->
                <div class="modal fade" id="modalModificar{{ maquina.id }}" tabindex="-1" aria-labelledby="modalLabel{{ maquina.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="POST" action="{% url 'modificar_maquina' maquina.id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel{{ maquina.id }}">Modificar Maquinaria</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" name="marca" value="{{ maquina.marca }}" class="form-control mb-2" required>
                                    <input type="text" name="modelo" value="{{ maquina.modelo }}" class="form-control mb-2" required>
                                    <input type="number" name="año_compra" value="{{ maquina.año_compra }}" class="form-control mb-2" required>
                                    <select name="localidad" class="form-control mb-2" required>
                                        {% for loc in localidades %}
                                            <option value="{{ loc.id }}" {% if maquina.localidad.id == loc.id %}selected{% endif %}>{{ loc.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                    <select name="politica" class="form-control mb-2" required>
    {% for politica in politicas %}
        <option value="{{ politica.id }}" {% if maquina.politica.id == politica.id %}selected{% endif %}>
            {{ politica.nombre }}
        </option>
    {% endfor %}
</select>
                                   
                                  <input type="number" step="0.01" name="precio_alquiler_diario" value="{{ maquina.precio_alquiler_diario|stringformat:'0.2f' }}" class="form-control mb-2"  required>
                                    <label for="imagen">Actualizar imagen (opcional):</label>
                                    <input type="file" name="imagen" class="form-control mb-2">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <script>
                function confirmarCambioEstado(Codigo, accion) {
                    const mensaje = `¿Estás seguro que quieres ${accion} a la maquina con codigo: ${Codigo}?`;
                    return confirm(mensaje);}
            </script>
        </tbody>
    </table>
{% endif %}

<a href="{% url 'inicio' %}"> 
<button type="submit" class="boton-VolverAlInicio" style="background-color:  #FFA726; border-color:rgb(160, 124, 69);">Volver al inicio</button>
</a>                            


{% endblock %}