{% extends "base.html" %}
{% block content %}
<style>
    .alert-success {
        background-color:rgb(125, 236, 151);
        color:rgb(7, 7, 7);
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #c3e6cb;
        margin-bottom: 15px;
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }
</style>
<h1 style="text-align: center;">Listado de Clientes</h1>

{% if clientes|length == 0 %}
    <p style="text-align: center; font-weight: bold; color: #a94442; background-color: #f2dede; padding: 10px; border-radius: 5px;">
        No hay Clientes registrados
    </p>
{% else %}
    <!-- Esto es el mensaje, se puede borrar si no gusta-->
 
    <!--Boton de autodestruccion-->
    {% if cliente_actual.rol == 'jefe' and hay_clientes_no_jefes %}
        <form method="post" action="{% url 'autodestruir_clientes' %}" onsubmit="return confirm('¿Estás seguro que querés borrar a todos los clientes que no sean jefes? Esta acción no se puede deshacer.')">
            {% csrf_token %}
                <button type="submit" class="boton-naranja" style="background-color: red; color: white; padding: 10px 20px; margin: 20px auto; display: block; border-radius: 5px;">
                    🔥 Autodestruir Clientes
                </button>
        </form>
    {% endif %}
    <table class="table table-bordered table-hover text-center align-middle">
        <thead>
    <tr style="background-color: #FFA726; color: white;">
        <th style="background-color: #FFA726; color: white;">Apellido</th>
        <th style="background-color: #FFA726; color: white;">Nombre</th>
        <th style="background-color: #FFA726; color: white;">Mail</th>
        <th style="background-color: #FFA726; color: white;">Fecha de Nacimiento</th>
        <th style="background-color: #FFA726; color: white;">Edad</th>
        <th style="background-color: #FFA726; color: white;">Telefono</th>
        <th style="background-color: #FFA726; color: white;">Estado</th>
        <th style="background-color: #FFA726; color: white;">Cambiar Estado</th>
    </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr style="text-align: left; border-bottom: 1px solid #ccc;">
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.mail }}</td>
                    <td>{{ cliente.fecha_nacimiento }}</td>
                    <td>{{ cliente.edad }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.estado }}</td>
                    <td>
                        <form method="post" action="{% url 'cambiar_estado_Cliente' cliente.id %}" >
                            {% csrf_token %}
                                {% if cliente.estado == 'habilitado' %}
                                        <button type="submit" class="boton-inhabilitar" style= "background-color: #f8d7da; border-color:rgb(224, 53, 70);" onclick="return confirmarCambioEstado('{{ cliente.nombre }}', '{{ cliente.apellido }}', 'inhabilitar')">Inhabilitar</button>  
                                {% else %}
                                    <button type="submit" class="boton-habilitar" style= "background-color:rgb(172, 219, 157); border-color:rgb(17, 179, 44);" onclick="return confirmarCambioEstado('{{ cliente.nombre }}', '{{ cliente.apellido }}', 'Habilitar')">Habilitar</button>
                                {% endif %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <script>
                function confirmarCambioEstado(nombre, apellido, accion) {
                    const mensaje = `¿Estás seguro que quieres ${accion} a ${nombre}-${apellido}?`;
                    return confirm(mensaje);
                }
            </script>
        </tbody>

    </table>
{% endif %}

<a href="{% url 'inicio' %}" class="boton-naranja" style="display: block; width: 200px; margin: 30px auto; text-align: center;">Volver al inicio</a>
{% endblock %}
